<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>IRINATOR - Animales</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Metamorphous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicom.png" type="image/x-icon">
</head>
<body>
<header>IRINATOR </header>

<div class="main-container">

    <p>Piensa en un animal de esta imagen...</p>
    <img class="animalitos-img" src="img/imagenanimalitos.png" alt="Animales" />

    <div class="button-container">
    <a th:href="@{/animales}">
        <button type="button">Jugar</button>
    </a>
    </div>
    </div>

<audio id="bgMusic" src="audio/mistico_magia.mp3" loop></audio>
<script src="js/music.js"></script>

</body>
</html>
