<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>IRINATOR - Maravillas del Mundo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Metamorphous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicom.png" type="image/x-icon">
</head>
<body>
<header>IRINATOR</header>

<div class="main-container">
    <!-- Imagen del genio -->
    <div class="left-box">
        <img src="img/irinaneutra.png" alt="Genio" id="genio"/>
    </div>

    <!-- Caja de preguntas -->
    <div class="right-box">
        <div class="question-box">
            <p id="questionText"></p>

            <div class="answers">
                <button id="btnYes">Sí</button>
                <button id="btnNo">No</button>
                <button id="btnUnknown">No sé</button>
            </div>

<!--            <p id="resultText"></p>-->

<!--            <img id="animalImage" src="" alt="Animal adivinado"-->
<!--                 style="display:none; width: 300px; height:300px; margin-top: 10px;">-->

            <div class="button-container" style="margin-top:20px;">
                <a th:href="@{/reiniciarM}">
                    <button type="button" id="reiniciarM" style="display:none;">Menu</button>
                </a>
                <a th:href="@{/jugarNuevoM}">
                    <button type="button" id="jugarNuevoM" style="display:none;">Jugar de Nuevo</button>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Música de fondo -->
<audio id="bgMusic" src="audio/mistico_magia.mp3" loop></audio>

<!-- Scripts -->
<script src="js/music.js"></script>
<script src="js/game3.js"></script>

</body>
</html>
