<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>¡Persona Acertada!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Metamorphous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="img/favicom.png" type="image/x-icon">
</head>
<body>

<header>
  IRINATOR
</header>

<div class="main-container">
  <!-- Imagen del genio celebrando -->
  <div class="left-box">
    <img src="img/irinamuyfeliz.png" alt="Genio Feliz">
  </div>

  <!-- Mensaje de acierto -->
  <div class="right-box">
    <div class="question-box">
      <h2>¡He adivinado a la persona!</h2>
      <p id="nombrePersona"></p>

      <div class="button-container">
        <button onclick="window.location.href='/'">Volver al inicio</button>
        <button onclick="window.location.href='personas'">Jugar otra vez</button>
<!--        <button onclick="window.location.href='formularioPersonas'">Hacer Sugerencia</button>-->
        <a th:href="@{/nuevoP}">
          <button type="button">Hacer Sugerencia</button>
        </a>
      </div>
    </div>
  </div>
</div>


<script src="js/game.js"></script>

<audio id="bgMusic" src="audio/mistico_magia.mp3" loop></audio>
<script src="js/music.js"></script>
</body>
</html>
